<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
    <!--<link th:href="@{/js/lib/umeditor/themes/default/css/umeditor.css}" rel="stylesheet">-->
    <!--<script th:src="@{/js/umeditor.config.js}"></script>-->
    <!--<script th:src="@{/js/lib/umeditor/umeditor.min.js}"></script>-->
    <!--<script th:src="@{/js/lib/umeditor/lang/zh-cn/zh-cn.js}"></script>-->
    <script th:src="@{/js/lib/datagrid-dnd.js}"></script>
    <script th:src="@{/js/table_list.js}"></script>
    <script th:src="@{/js/table_column_define.js}"></script>
    <script th:src="@{/js/table_index_define.js}"></script>
    <script th:src="@{/js/table_def_ver_ctl.js}"></script>
    <script th:src="@{/js/lib/moment.min.js}"></script>
</head>

<body class="easyui-layout" style="width:100%;height:100%;">
    <th:block th:insert="table/table_list_menuext"></th:block>
    <div id="tbl-tabs" class="easyui-tabs" data-options="tools:'#tab-tools',fit:true,border:false,width:1300">
        <div title="主页" data-options="id:0,closable: false">
            <div class="easyui-layout" data-options="fit:true,border:false">
                <div data-options="region:'north',border:false" style="height:60px;padding:20px 10px 10px 10px">
                    <span style="float: left">
                        <input id="tbl_searchbox" type="text" style="width:250px">
                        <span><span id="nowTagInfo" style="padding-left:60px;padding-right:2px;display:none"></span></span>
                    </span>
                    <span id="itemOptButton" style="float: right;margin-right:10px" dbd:authorize="${dbId}">
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="javascript:createNewTable()" style="width:90px">新建表</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="javascript:delSelectedItem()" style="width:90px;margin-left:10px">删除表</a>
                    </span>
                </div>
                <div data-options="region:'center',border:false">
                    <table id="tbl-def-grid" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>

    <div id="tb_info" style="display:none">
        <table style="margin:5px 0px 5px 10px">
            <tr>
                <td style="width:80px">表名</td>
                <td><input class="_tbl_name" style="width:350px"></td>
                <td rowspan="2" style="width:60px;text-align:right;padding-right:10px;padding-top:6px" valign="top">备注</td>
                <td rowspan="2"><input class="_tbl_desc" style="width:500px;height:64px;padding-top:3px"></td>
            </tr>
            <tr>
                <td>别名</td><td><input class="_tbl_name_cn" style="width:350px"></td>
            </tr>
        </table>
        <input type="hidden" class="_tbl_name_p"><input type="hidden" class="_tbl_desc_p"><input type="hidden" class="_tbl_name_cn_p">
        <input type="hidden" class="_tbl_last_updtime"><input type="hidden" class="_tbl_currEditorId">
        <div class="_tbl_edit_toolbar" style="padding:7px 0px 7px 12px;border-top:1px solid #e0e0e0;display:none" dbd:authorize="${dbId}">
            <a href="#" class="_linkbtn_add" onclick="javascript:addColumn()" style="width:90px">添加栏位</a>
            <a href="#" class="_linkbtn_edit" onclick="javascript:insertColumn()" style="width:90px;margin-left:10px">插入栏位</a>
            <a href="#" class="_linkbtn_remove" onclick="javascript:delColumn()" style="width:90px;margin-left:10px">删除栏位</a>
            <a href="#" class="_linkbtn_save" onclick="javascript:saveAll()" style="width:80px;margin-left:10px">保存</a>
        </div>
    </div>

    <div id="tblidx_dlg" class="easyui-dialog" title="编辑索引" data-options="iconCls:'fa fa-list',modal:true,closed:true,border:'thin',width:910">
        <div class="_idx_edit_toolbar" style="padding:10px 0px 0px 15px;border-top:1px solid #e0e0e0" dbd:authorize="${dbId}">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',width:90" onclick="javascript:addTblIndex()">添加索引</a>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',width:90" onclick="javascript:delTblIndex()" style="margin-left:20px">删除索引</a>
        </div>
        <div style="width:900px;height:320px;margin:0 auto;margin-top:12px">
            <table id="tblidx_grid" class="easyui-datagrid"
                   data-options="singleSelect:true,striped:true,fit:true,rownumbers:true,method:'get',idField:'idxId',toolbar:'#_idx_edit_toolbar'"></table>
        </div>
        <div style="text-align:center;margin-top:15px;margin-bottom:15px">
            <a href="javascript:void(0)" class="easyui-linkbutton" style="width:60px" onclick="submitTblIdx()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="margin-left:20px;width:60px" onclick="cancelTblIdx()">取消</a>
        </div>
    </div>

    <div id="tblnewtag_dlg" class="easyui-dialog" title="发布新版本" data-options="iconCls:'fa fa-paperclip',modal:true,draggable:false,closed:true,border:'thin',width:380">
        <div style="margin:20px 0px 10px 30px">
            <input id="newTagName" class="easyui-textbox" data-options="required:true,label:'版本名称'" style="width:300px"></div>
        <div style="margin:10px 0px 20px 30px">
            <input id="tagDesc" class="easyui-textbox" data-options="multiline:true,required:true,label:'版本说明'" style="width:300px;height:90px;padding-top:3px"></div>
        <div style="text-align:center;margin-top:15px;margin-bottom:15px">
            <a href="javascript:void(0)" class="easyui-linkbutton" style="width:60px" onclick="submitNewTag()">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="margin-left:20px;width:60px" onclick="cancelNewTag()">取消</a>
        </div>
    </div>
    <div id="tagList_dlg" class="easyui-dialog" title="查看历史发布版本" data-options="iconCls:'fa fa-list',modal:true,draggable:false,closed:true,border:'thin',width:750,height:380">
        <div style="width:748px;height:346px">
            <table id="tagList_grid"></table>
        </div>
    </div>

    <div id="tblatt_dlg" class="easyui-dialog" title="查看附件" data-options="iconCls:'fa fa-paperclip',modal:true,closed:true,border:'thin'">
        <div class="easyui-panel" data-options="border:false" style="width:520px;height:120px;padding:10px;border-bottom:1px solid #1E9FFF">
        </div>
        <div style="text-align:center;margin-top:15px;margin-bottom:15px">
            <a href="javascript:void(0)" class="easyui-linkbutton" style="width:60px" onclick="submitTblAtt()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="margin-left:20px;width:60px" onclick="cancelTblAtt()">取消</a>
        </div>
    </div>

    <div id="template_dlg" class="easyui-dialog" title="使用预先定义的模板" data-options="iconCls:'fa fa-paperclip',modal:true,closed:true,border:'thin'" style="padding:20px">
        <div style="width:500px;height:40px;padding:2px;border:1px solid #1E9FFF" onclick="useTemplate1()">
            模板1：`valid`, `created_by`, `created_date`, `updated_by`, `updated_date`
        </div>
        <div style="width:500px;height:40px;padding:2px;border:1px solid #1E9FFF;margin-top:20px" onclick="useTemplate2()">
            模板2：`created_by`, `created_date`
        </div>
    </div>
    <div id="showColDiv" style="position: absolute; background-color: white; padding:3px 6px;font-size: 14px"></div>
    <div id="filteredDataDialog" style="width:250px;z-index:999;position:absolute;top:35px;left:1px;display:none">
        <div id="filteredDataList"></div>
    </div>
    <input type="hidden" id="useId" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.userId}" />
    <input type="hidden" id="favDb" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.favorite}" />
    <input type="hidden" id="readAttr" th:value="${userReadonly}" />
    <input type="hidden" id="dbn" th:value="${dbName}" />
    <input type="hidden" id="dbId" th:value="${dbId}" />
    <input type="hidden" id="dbType" th:value="${dbType}" />
    <iframe scrolling="No" noresize="noresize" frameborder="0" id="topFrame" style="position:fixed;top:0;left:0;z-index:10;background-color:white"></iframe>
</body>
</html>