<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
    <script th:src="@{/js/lib/datagrid-dnd.js}"></script>
    <script th:src="@{/js/table_list.js}"></script>
    <script th:src="@{/js/table_column_define.js}"></script>
    <script th:src="@{/js/table_index_define.js}"></script>
    <script th:src="@{/js/table_def_ver_ctl.js}"></script>
    <script th:src="@{/js/table_export_sql.js}"></script>
    <script th:src="@{/js/lib/moment.min.js}"></script>
</head>

<body class="easyui-layout" style="width:100%;height:100%;">
    <th:block th:insert="table/table_list_menuext"></th:block>
    <div id="tbl-tabs" class="easyui-tabs" data-options="tools:'#tab-tools',fit:true,border:false,width:1300">
        <div title="主页" data-options="id:0,closable: false">
            <div class="easyui-layout" data-options="fit:true,border:false">
                <div data-options="region:'north',border:false" style="height:60px;padding:20px 10px 10px 10px">
                    <span style="float: left">
                        <input id="tbl_searchbox" type="text" style="width:250px">
                        <span><span id="nowTagInfo" style="padding-left:60px;padding-right:2px;display:none"></span></span>
                    </span>
                    <span id="itemOptButton" style="float: right;margin-right:10px" dbd:authorize="${dbId}">
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="javascript:createNewTable()" style="width:90px">新建表</a>
                        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="javascript:delSelectedItem()" style="width:90px;margin-left:10px">删除表</a>
                    </span>
                </div>
                <div data-options="region:'center',border:false">
                    <table id="tbl-def-grid" style="width:100%"></table>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="pageExtButtons" style="margin-left:5px">-->
        <!--<input class="easyui-checkbox" id="chkAllDatas" value="1" data-options="width:18,height:18,labelPosition:'after'" label="翻页全选">-->
    <!--</div>-->

    <div id="tb_info" style="display:none">
        <table style="margin:5px 0px 5px 10px">
            <tr>
                <td style="width:80px">表名</td>
                <td><input class="_tbl_name" style="width:350px"></td>
                <td rowspan="2" style="width:60px;text-align:right;padding-right:10px;padding-top:6px" valign="top">备注</td>
                <td rowspan="2"><input class="_tbl_desc" style="width:500px;height:64px;padding-top:3px"></td>
            </tr>
            <tr>
                <td>别名</td><td><input class="_tbl_name_cn" style="width:350px"></td>
            </tr>
        </table>
        <input type="hidden" class="_tbl_name_p"><input type="hidden" class="_tbl_desc_p"><input type="hidden" class="_tbl_name_cn_p">
        <input type="hidden" class="_tbl_last_updtime"><input type="hidden" class="_tbl_currEditorId">
        <div class="_tbl_edit_toolbar" style="padding:7px 0px 7px 12px;border-top:1px solid #e0e0e0;display:none" dbd:authorize="${dbId}">
            <a href="#" class="_linkbtn_add" onclick="javascript:addColumn()" style="width:90px">添加栏位</a>
            <a href="#" class="_linkbtn_edit" onclick="javascript:insertColumn()" style="width:90px;margin-left:10px">插入栏位</a>
            <a href="#" class="_linkbtn_remove" onclick="javascript:delColumn()" style="width:90px;margin-left:10px">删除栏位</a>
            <a href="#" class="_linkbtn_save" onclick="javascript:saveAll()" style="width:80px;margin-left:10px">保存</a>
        </div>
    </div>

    <th:block th:insert="table/table_list_dialog"></th:block>
    <th:block th:insert="table/table_edit_history_dialog"></th:block>
    <input type="hidden" id="useId" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.userId}" />
    <input type="hidden" id="favDb" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.favorite}" />
    <input type="hidden" id="readAttr" th:value="${userReadonly}" />
    <input type="hidden" id="dbn" th:value="${dbName}" />
    <input type="hidden" id="dbId" th:value="${dbId}" />
    <input type="hidden" id="dbType" th:value="${dbType}" />
    <!-- 'topFrame'用于展示drawio的ER图编辑界面 -->
    <iframe scrolling="No" noresize="noresize" frameborder="0" id="topFrame" style="position:fixed;top:0;left:0;z-index:10;background-color:white"></iframe>
</body>
</html>