<div id="tab-tools"><!--/* (右侧)表定义区域的工具栏和弹出菜单 */-->
    <div style="width:95px"><!--/* 这里要加一层指定宽度,否则tab标题栏会和工具菜单重叠 */-->
        <a href="javascript:void(0)" class="easyui-linkbutton" style="padding-right:5px" data-options="plain:true,iconCls:'fa fa-home fa-lg',width:40" onclick="javascript:jumptoHomeTab()"></a>
        <a id="_home_page_btn" href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,menu:'#tab-tools_menu_home',iconCls:'icon-more'"></a>
        <a id="_tab_page_btn_editable" href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,menu:'#tab-tools_menu_editable',iconCls:'icon-more'" style="display:none"></a>
        <a id="_tab_page_btn_editing" href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,menu:'#tab-tools_menu_editing',iconCls:'icon-more'" style="display:none"></a>
        <!--/* 查看查看历史发布版本时的菜单 */-->
        <a id="tag_home_page_btn" href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,menu:'#tab-tag_menu_home',iconCls:'icon-more'" style="display:none"></a>
        <a id="tag_table_page_btn" href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,menu:'#tab-tag_menu_table',iconCls:'icon-more'" style="display:none"></a>
    </div>
</div>
<div id="tab-tools_menu_home" class="easyui-menu"><!-- 当为主页时显示此下拉菜单 -->
    <div data-options="iconCls:'fa fa-refresh'" th:href="@{/home?type=1}">刷新</div>
    <div class="menu-sep"></div>
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-download'" onclick="javascript:exportSelectedSql()">导出SQL脚本</div>
        <div onclick="javascript:exportSelectedUpdateSql()">导出SQL更改脚本</div>
        <div class="menu-sep"></div>
    </th:block>
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-history'" onclick="javascript:openNewTagDialog()">发布版本</div>
    </th:block>
    <div data-options="iconCls:'fa fa-binoculars'" onclick="javascript:showProjectHistory()">查看历史发布版本</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-paperclip'" onclick="javascript:attMng()">查看附件</div>
    <div data-options="iconCls:'fa fa-object-group'" onclick="javascript:showErDiagram()">查看ER图</div>

    <div class="menu-sep"></div>  <!--/* 下面2个菜单项只会出现一个，要根据条件来判断 */-->
    <div data-options="name:'setdbenv',iconCls:'fa fa-flag-checkered'" onclick="javascript:setDevEnv(1)">加入到收藏夹</div>
    <div data-options="name:'unsetdbenv'" onclick="javascript:setDevEnv(0)">取消收藏</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-backward'" th:href="@{/home?type=1}">返回选择数据库</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-support'" onclick="javascript:openHelpPage()">帮助</div>
    <div class="menu-sep"></div>
    <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
</div>
<!--/* 下面列出了2种形态的菜单,代码有冗余,修改起来要注意 */-->
<!--/* 先用这种方法来实现,使用menuitem的enable/disable功能也一样麻烦，而且要取出子菜单逐个判断 */-->
<div id="tab-tools_menu_editable" class="easyui-menu">
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-lock'" onclick="javascript:chkForEditing()">开始编辑</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-exchange',disabled:true" onclick="javascript:enableDragDrop()">开启行拖放操作</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-edit',disabled:true" onclick="javascript:editIndex()">编辑索引</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-edit',disabled:true" onclick="javascript:useTemplate()">使用预定义模板</div>
        <div class="menu-sep"></div>
    </th:block>
    <th:block sec:authorize="hasAnyAuthority('PROJ_MNG_USER,ADMIN_USER')">
        <div data-options="name:'stop_edit',iconCls:'fa fa-bomb',disabled:true" onclick="javascript:forceStopEdit()">强制停止编辑</div>
        <div class="menu-sep"></div>
    </th:block>
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-download'" onclick="javascript:exportTableSql()">导出SQL脚本</div>
        <div onclick="javascript:exportTabledUpdateSql()">导出SQL更改脚本</div>
        <div class="menu-sep"></div>
    </th:block>
    <div data-options="iconCls:'fa fa-binoculars'" onclick="javascript:showEditHistory()">查看修改历史</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-paperclip'" onclick="javascript:attMng()">查看附件</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-backward'" th:href="@{/home?type=1}">返回选择数据库</div>
    <div class="menu-sep"></div>
    <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
</div>
<div id="tab-tools_menu_editing" class="easyui-menu">
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-unlock'" onclick="javascript:endEditing()" title="退出编辑状态，不保存当前修改!!!">取消编辑</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-exchange'" onclick="javascript:enableDragDrop()">开启行拖放操作</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-edit'" onclick="javascript:editIndex()">编辑索引</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-edit'" onclick="javascript:useTemplate()">使用预定义模板</div>
        <div class="menu-sep"></div>
    </th:block>
    <th:block sec:authorize="hasAnyAuthority('PROJ_MNG_USER,ADMIN_USER')">
        <div data-options="name:'stop_edit',iconCls:'fa fa-bomb',disabled:true" onclick="javascript:forceStopEdit()">强制停止编辑</div>
        <div class="menu-sep"></div>
    </th:block>
    <th:block dbd:authorize="${dbId}">
        <div data-options="iconCls:'fa fa-download'" onclick="javascript:exportTableSql()">导出SQL脚本</div>
        <div onclick="javascript:exportTabledUpdateSql()">导出SQL更改脚本</div>
        <div class="menu-sep"></div>
    </th:block>
    <div data-options="iconCls:'fa fa-binoculars'" onclick="javascript:showEditHistory()">查看修改历史</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-paperclip'" onclick="javascript:attMng()">查看附件</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-backward'" th:href="@{/home?type=1}">返回选择数据库</div>
    <div class="menu-sep"></div>
    <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
</div>

<!--/* 下面是查看查看历史发布版本时的菜单 */-->
<div id="tab-tag_menu_home" class="easyui-menu">
    <div data-options="iconCls:'fa fa-backward'" onclick="javascript:backtoDefaultHome()">回到正常编辑状态</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-binoculars'" onclick="javascript:showProjectHistory()">查看历史发布版本</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-paperclip'" onclick="javascript:attMng()">查看附件</div>
    <div data-options="iconCls:'fa fa-binoculars'" onclick="javascript:showErDiagram()">查看ER图</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'fa fa-support'" onclick="javascript:openHelpPage()">帮助</div>
    <div class="menu-sep"></div>
    <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
</div>
<div id="tab-tag_menu_table" class="easyui-menu">
    <div data-options="iconCls:'fa fa-paperclip'" onclick="javascript:attMng()">查看附件</div>
    <div class="menu-sep"></div>
    <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
</div>

<th:block th:if="${dbMode==1}">
    <div data-options="name:'to_tbl_list',iconCls:'icon-save'" onclick="javascript:convertType(1)" th:if="${dbType==1}">切换到表一览</div>
    <div data-options="name:'to_view_list',iconCls:'icon-save'" onclick="javascript:convertType(2)" th:if="${dbType==1}">切换到视图一览</div>
    <div class="menu-sep" ></div>
</th:block>
