<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
    <link th:href="@{/js/lib/umeditor/themes/default/css/umeditor.css}" rel="stylesheet">
    <script th:src="@{/js/umeditor.config.js}"></script>
    <script th:src="@{/js/lib/umeditor/umeditor.min.js}"></script>
    <script th:src="@{/js/lib/umeditor/lang/zh-cn/zh-cn.js}"></script>
    <script th:src="@{/js/lib/datagrid-dnd.js}"></script>
    <script th:src="@{/js/table_list.js}"></script>
</head>

<body class="easyui-layout" style="width:100%;height:100%;">
    <div id="cc" data-options="region:'west',split:true,collapsible:false,tools:'#db-tools'" style="width:220px">
        <div class="easyui-layout" data-options="fit:true,border:false"><!--/* 这里必须再嵌套一层layout，否则tblList的滚动条不正常 */-->
            <div data-options="region:'north',border:false" style="height:27px;">
                <input id="tbl_searchbox" type="text" style="width:100%">
            </div>
            <div id="dd" data-options="region:'center',border:false">
                <table id="tblList"></table>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div id="tbl-tabs" class="easyui-tabs" data-options="tools:'#tab-tools',fit:true,border:false">
            <div title="主页" style="padding:10px" data-options="id:0,closable: true">
                <p style="font-size:14px">该内容暂为空。<br/><br/>
                以后考虑显示该数据库的业务介绍，表定义变更历史，登录用户的代办事项(比如未完成的编辑等)，维护通知等</p>
                <script type="text/plain" id="myEditor" style="width:1000px;height:590px;"></script>
            </div>
        </div>
    </div>

    <div id="tab-tools"><!--/* 表定义区域的工具栏和弹出菜单 */-->
        <a href="javascript:void(0)" class="easyui-menubutton" data-options="plain:true,iconCls:'icon-more'" onclick="javascript:popmenu(event,'tab-tools_menu')"></a>
    </div>
    <div id="tab-tools_menu" class="easyui-menu">
        <th:block dbd:authorize="${dbId}">
            <div data-options="iconCls:'fa fa-lock'" onclick="javascript:chkForEditing()">开始编辑</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'fa fa-unlock'" onclick="javascript:endEditing()" title="退出编辑状态，不保存当前修改!!!">取消编辑</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'fa fa-remove'" onclick="javascript:delCurrTable()">删除当前项目</div>
            <div class="menu-sep"></div>
        </th:block>
        <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
    </div>

    <div id="db-tools"><!--/* 表一览区域的工具栏和弹出菜单 */-->
        <a href="javascript:void(0)" class="fa fa-gear" style="width:20px;height:20px" onclick="javascript:popmenu(event,'db-tools_menu')"></a>
    </div>
    <div id="db-tools_menu" class="easyui-menu" style="width:160px;">
        <div onclick="javascript:convertType(1)" th:if="${dbType==1}">切换到表一览</div>
        <div onclick="javascript:convertType(2)" th:if="${dbType==1}">切换到视图一览</div>
        <div class="menu-sep" th:if="${dbType==1}"></div>
        <div data-options="name:'setdbenv',iconCls:'icon-save'" onclick="javascript:setDevEnv(1)">设置缺省工作环境</div>
        <div data-options="name:'unsetdbenv',iconCls:'icon-save'" onclick="javascript:setDevEnv(0)">取消缺省工作环境</div>
        <div class="menu-sep"></div>
        <th:block dbd:authorize="${dbId}">
            <div data-options="iconCls:'fa fa-plus'" onclick="javascript:createNewTable()">创建项目</div>
            <div class="menu-sep"></div>
        </th:block>
        <div data-options="iconCls:'fa fa-refresh'" onclick="javascript:doSearch('',1)">刷新</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-refresh'" onclick="javascript:exportSql()">导出SQL文</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'fa fa-home'" th:href="@{/home?type=1}">返回选择数据库</div>
        <div class="menu-sep"></div>
    </div>

    <div id="tb_info" style="display:none">
        <table style="margin:5px 0px 5px 10px">
            <tr>
                <td style="width:80px">表名</td>
                <td><input class="_tbl_name" style="width:300px"></td>
                <td rowspan="2" style="width:60px;text-align:right;padding-right:10px;padding-top:6px" valign="top">说明</td>
                <td rowspan="2"><input class="_tbl_desc" style="width:500px;height:54px"></td>
            </tr>
            <tr>
                <td>表名(中文)</td><td><input class="_tbl_name_cn" style="width:300px"></td>
            </tr>
        </table>
        <input type="hidden" class="_tbl_name_p"><input type="hidden" class="_tbl_desc_p"><input type="hidden" class="_tbl_name_cn_p">
        <input type="hidden" class="_tbl_last_updtime">
        <div class="_tbl_edit_toolbar" style="padding:7px 0px 7px 12px;border-top:1px solid #e0e0e0;display:none" dbd:authorize="${dbId}">
            <a href="#" class="_linkbtn_add" onclick="javascript:addColumn()" style="width:90px">添加栏位</a>
            <a href="#" class="_linkbtn_edit" onclick="javascript:insertColumn()" style="width:90px;margin-left:10px">插入栏位</a>
            <a href="#" class="_linkbtn_remove" onclick="javascript:delColumn()" style="width:90px;margin-left:10px">删除栏位</a>
            <a href="#" class="_linkbtn_save" onclick="javascript:saveAll()" style="width:80px;margin-left:10px">保存</a>
        </div>
    </div>
    <div id="popDlg">Dialog Content.</div>
    <input type="hidden" id="favDb" th:value="${#authentication.principal.favorite}" />
    <input type="hidden" id="readAttr" th:value="${userReadonly}" />
    <input type="hidden" id="dbn" th:value="${dbName}" />
    <input type="hidden" id="dbId" th:value="${dbId}" />
    <input type="hidden" id="dbType" th:value="${dbType}" />
</body>
</html>