<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

<title th:unless="${pageTitle == 'TEMPLATE'}"
       th:utext="${#strings.isEmpty(pageTitle) ? 'table web design' : pageTitle}"></title>

<title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
    <title th:inline="text" th:include="${templateName} :: title"/>
</title>
<title>L | Admin-index</title>

<link rel="stylesheet" th:href="@{/css/easyui/default/easyui.css}">
<link rel="stylesheet" th:href="@{/css/easyui/color.css}">
<link rel="stylesheet" th:href="@{/css/easyui/icon.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:src="@{/js/easyui/jquery-1.12.4.min.js}"></script>
<script th:src="@{/js/easyui/jquery.easyui-1.5.4.5.min.js}"></script>
<script th:src="@{/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script th:src="@{/js/layer/layer.js}"></script>
<script th:src="@{/js/main.js}"></script>