<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
</head>

<body>
<section style="position: absolute; left: 50%; top: 25%;width:500px;height:300px;margin-left:-250px;">
    <h2>修改登录密码</h2>
    <div style="margin:20px 0;"></div>
    <p style="font-size: small" th:if="${errMsg}" th:text="${errMsg}"></p>
    <div class="easyui-panel" style="width:100%;max-width:400px;padding:30px 50px;">
        <form method="post" th:action="@{/savePasswd}">
            <div style="margin-bottom:20px">
                <input class="easyui-passwordbox" id="oldPasswd" style="width:100%" data-options="label:'旧密码:',required:true,labelWidth:90">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-passwordbox" id="newPasswd" style="width:100%" data-options="label:'新密码:',required:true,labelWidth:90">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-passwordbox" id="newPasswdCfm" style="width:100%" data-options="label:'确认新密码:',required:true,labelWidth:90">
            </div>
            <div style="text-align:center;margin-top:30px">
                <button type="button" class="easyui-linkbutton" style="width:80px" onclick="submitForm()">保存</button>
            </div>
        </form>
    </div>
</section>
<script>
    // 提交修改(保存)
    function submitForm() {
        // 不判断是否已修改，全部提交至后台
        var postData = {};
        postData.oldPasswd = $.trim($('#oldPasswd').passwordbox('getValue'));
        if (postData.oldPasswd == '') {
            layer.msg("必须输入旧密码！");
            return;
        }
        postData.newPasswd = $.trim($('#newPasswd').passwordbox('getValue'));
        postData.newPasswdCfm = $.trim($('#newPasswdCfm').passwordbox('getValue'));
        if (postData.newPasswd == ''　|| postData.newPasswdCfm == '') {
            layer.msg("必须输入新密码及确认新密码！");
            return;
        }

        if (postData.oldPasswd == postData.newPasswd) {
            layer.msg("新旧密码不能相同！");
            return;
        }
        if (postData.newPasswdCfm != postData.newPasswd) {
            layer.msg("新密码及确认新密码必须一致！");
            return;
        }

        var loadLy = layer.load(1);
        $.ajax({
            type: 'post',
            url: Ap_servletContext + '/ajax/savePasswd',
            data: JSON.stringify(postData),
            success: function (data) {
                layer.close(loadLy);
                if (data.code == 0) {
                    layer.msg('修改登录密码成功，将转到登陆画面．');
                    setTimeout("window.location.href = Ap_servletContext + '/index'", 1000)
                } else {
                    layer.msg(data.msg + ' code=' + data.code);
                }
            }
        });
    }
</script>
</body>
</html>