<!DOCTYPE html>
<html>
<head>
    <th:block th:replace="/layout/head"></th:block>
</head>

<body style="width:800px;margin: 0 auto">
<div style="position:absolute;width:800px;z-index:198">
    <div style="width:95px;float:right;margin-right:56px">
        <div class="easyui-panel">
            <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-more',width:93">菜单</a>
        </div>
        <div id="mm1" style="width:150px;">
            <th:block sec:authorize="hasAnyAuthority('PROJ_MNG_USER,ADMIN_USER')">
                <div data-options="iconCls:'fa fa-database'" th:href="@{/mng/db_mng}">数据库管理</div>
                <div class="menu-sep"></div>
                <div data-options="iconCls:'fa fa-user'" th:href="@{/mng/user_mng}">用户管理</div>
                <div class="menu-sep"></div>
            </th:block>
            <div data-options="href:'logout',iconCls:'fa fa-sign-out'">退出</div>
        </div>
    </div>
</div>
<div style="width:500px;margin:0 auto;margin-top:60px">
    <h2>当前数据库表设计一览</h2>
    <th:block th:if="${#lists.isEmpty(dbList)}">
        <div style="margin:20px"></div>
        <p>还没有设置访问权限，去找管理员吧．</p>
    </th:block>
    <th:block th:if="${not #lists.isEmpty(dbList)}">
        <p style="font-size: small">点击一览中的项目后，跳转到编辑画面</p>
        <div style="margin:20px 0"></div>
        <div id="dbList" style="width:100%;height:250px"></div>
        <div style="margin-top: 5px">
            <input type="checkbox" id="defaultFlg"><label style="font-size: small">将所选择的数据库加入收藏夹，下次再登录时不会出现该一览画面．</label>
        </div>
    </th:block>
</div>
<form id="itemForm" method="get" th:action="@{/table_list}"></form>
<script th:inline="javascript">
    $('#dbList').datalist({
        data: [[${dbList}]],
        textFormatter: function (value, row, index) {
            if (row.isDefaultEnv) {
                return value + "<span><img style='margin-bottom:-4px;margin-left:10px;width:18px' src='img/wujiaoxing.png'></img></span>";
            } else {
                return value;
            }
        },
        lines: true,
        striped: true,
        valueField: 'id',
        textField: 'dbNameTxt',
        idField: 'id',
        onClickRow: function (index, row) {
            var isChecked = $('#defaultFlg').prop('checked') ? 1 : null;
            var postData = {
                dbId: row.id,
                checkFlg: isChecked
            };

            var loadLy = layer.load(1);
            $.ajax({
                type: 'post',
                url: Ap_servletContext + '/ajax/setDefaultDbEnv',
                data: JSON.stringify(postData),
                success: function (data) {
                    layer.close(loadLy);
                    if (data.code == 0) {
                        $('#itemForm').submit();
                    } else {
                        layer.msg(data.msg + ' code=' + data.code);
                    }
                }
            });
        }
    });
</script>
</body>
</html>